<% if logged_in? %>
<p> Logged in user: <%= logged_in_user.name %> with credits: <%= logged_in_user.credits%></p>
<% end %>

<% unless flash[:notice].blank? %>
   <p><%= flash[:notice] %></p>
<% end %>
	

<h3> Listing all the products </h3>

<% @products.each do |product|%>
	<p>
	  <%= product.title %> | Price: <%=product.price %> 
	  <% if logged_in? %> 
	    | <%= link_to "Buy", action: 'buy', product_id: product.id %>
	  <% end %>
	</p>
<% end %>